name: Compilar Código

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout do código
              uses: actions/checkout@v3

            - name: Configurar NodeJS
              uses: actions/setup-node@v3
              with:
                  node-version: 22

            - name: Instalar dependências
              run: npm install

            - name: Modificar permissões de scripts
              run: chmod +x scripts/*

            - name: Compilar pacotes
              run: npm run build

            - name: Enviar pacote The Cherry 25
              uses: actions/upload-artifact@v4
              with:
                  name: the-cherry-25
                  path: './dist'
