name: Publicar Documentação

on:
    workflow_run:
        workflows: ['Compilar Código']
        types:
            - completed

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: 'pages'
    cancel-in-progress: false

jobs:
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout do repositório
              uses: actions/checkout@v3

            - name: Configurar NodeJS
              uses: actions/setup-node@v3
              with:
                  node-version: 22

            - name: Instalar dependências
              run: npm install

            - name: Modificar permissões de scripts
              run: chmod +x scripts/*

            - name: Baixar pacote The Cherry 25
              uses: actions/download-artifact@v4
              with:
                  name: the-cherry-25
                  run-id: ${{ github.event.workflow_run.id }}
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  path: dist/

            - name: Compilar documentação
              run: npm run docs

            - name: Configurar GitHub Pages
              uses: actions/configure-pages@v5

            - name: Enviar documentação
              uses: actions/upload-pages-artifact@v3
              with:
                  name: the-cherry-docs
                  path: './docs-out'

            - name: Publicar documentação
              id: deployment
              uses: actions/deploy-pages@v4
